h1 {
  color: rgb(255,83,13);
  font-size: 20px;
  font-family: arial;
}

h2 {color: rgb(255,83,13);
  font-size: 20px;
  font-family: arial;}

p{color: rgb(255,83,13);
  font-size: 20px;
  font-family: arial;}

title{color: rgb(255,83,13);
  font-size: 20px;
  font-family: arial;}

li{color: rgb(255,83,13);
  font-size: 20px;
  font-family: arial;}

div {
  background: white;
  padding: 30px;
  border-radius; 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 300px
  margin: 0 auto;
}

#EvanPic {
  width: 40px;
}
